services:
  ms-mtls-mock-server:
    build:
      context: .
      dockerfile: Dockerfile
    user: devopsa
    container_name: ms-mtls-mock-server
    restart: always
    ports:
      - "8443:8443"
    environment:
      - SERVER_PORT=8443
      - SERVER_ADDRESS=0.0.0.0
      - LOGGING_LEVEL_ROOT=INFO
      - LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_SECURITY=INFO
      - SERVER_SSL_KEY_STORE=/etc/tls/certs/server/server-keystore.p12
      - SERVER_SSL_KEY_STORE_PASSWORD=serverpass
      - SERVER_SSL_KEY_STORE_TYPE=PKCS12
      - SERVER_SSL_KEY_ALIAS=server
      - SERVER_SSL_TRUST_STORE=/etc/tls/certs/server/server-truststore.p12
      - SERVER_SSL_TRUST_STORE_PASSWORD=serverpass
      - SERVER_SSL_TRUST_STORE_TYPE=PKCS12
      - SERVER_SSL_CLIENT_AUTH=need
      - SPRING_DATA_REDIS_HOST=192.168.100.228
      - SPRING_DATA_REDIS_PORT=6379
      - SPRING_DATA_REDIS_USERNAME=admin
      - SPRING_DATA_REDIS_PASSWORD=Passw0rd
      - SPRING_DATA_REDIS_TIMEOUT=60000
      - MICROSERVICE_PARAMETERS_PASS_ADMIN_MOCK=adminpass
      - LOGGING_FILE_NAME=/home/devopsa/microservicios/logs/mockserver.log
      - JAVA_OPTS=-Xms256m -Xmx512m -Djava.security.egd=file:/dev/./urandom
    volumes:
      - /c/home/devopsa/microservicios/ms-mtls-mock-server/logs:/logs
      - /c/home/devopsa/microservicios/certs/server:/etc/tls/certs/server
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
    networks:
      - signcrypt-network

networks:
  signcrypt-network:
    driver: bridge

volumes:
  cache-data:
