services:
  
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.0
    container_name: elasticsearch
    environment:
      discovery.type: single-node
      ES_JAVA_OPTS: "-Xms1g -Xmx1g"
      xpack.security.enabled: "false"
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - es-data:/usr/share/elasticsearch/data
    networks:
      - signcrypt-network
    restart: unless-stopped

  kibana:
    image: docker.elastic.co/kibana/kibana:8.15.0
    container_name: kibana
    environment:
      ELASTICSEARCH_HOSTS: "http://elasticsearch:9200"  # nombre del servicio
      xpack.security.enabled: "false"
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch
    networks:
      - signcrypt-network
    restart: unless-stopped

volumes:
  es-data:
    driver: local

networks:
  signcrypt-network:
    driver: bridge
