services:
  ms-middleware-signcrypt:
    build:
      context: .
      dockerfile: Dockerfile
    #image: ocr.harborqa.banred.fin/microservices/ms-middleware-signcrypt:1.0.0-DEV
    container_name: ms-middleware-signcrypt
    restart: always
    ports:
      - "8442:8442"
    environment:
      - SERVER_PORT=8442
      - SERVER_ADDRESS=0.0.0.0
      - REDIS_HOSTNAME=192.168.100.228
      - REDIS_PORT=6379
      - REDIS_USERNAME=admin
      - REDIS_PASSWORD=Passw0rd
      # Ajustamos rutas internas
      - RUTA_CONFIG_XML=/etc/tls/config-service.xml
      - RUTA_CRL=/etc/tls/certs/ca/crl/crl.der
      - RUTA_RSA=/etc/tls/rsa-keys
      - EXPIRY_SECONDS=300
      - SPRING_JACKSON_DEFAULT_PROPERTY_INCLUSION=non-null
      - SPRING_JACKSON_TIME_ZONE=GMT-5
      - LOGGING_FILE_NAME=/etc/logs/app.log
      - LOGGING_LOGBACK_ROLLINGPOLICY_FILE_NAME_PATTERN=/etc/logs/app.%d{yyyy-MM-dd}.log
      - LOGGING_LOGBACK_ROLLINGPOLICY_MAX_HISTORY=7
      - LOGGING_LOGBACK_ROLLINGPOLICY_TOTAL_SIZE_CAP=1GB
      - LOGGING_LEVEL_ROOT=DEBUG
      - LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_WEB=DEBUG
      - LOGGING_LEVEL_COM_BANRED=DEBUG
      - LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_SECURITY=DEBUG
      - JAVA_TOOL_OPTIONS=-Djavax.net.debug=ssl:handshake:verbose -Dreactor.netty.log.level=DEBUG
    volumes:
      - /c/home/devopsa/microservicios/ms-middleware-signcrypt/logs:/etc/logs
      - /c/home/devopsa/microservicios/ms-middleware-signcrypt/config-service.xml:/etc/tls/config-service.xml
      - /c/home/devopsa/microservicios/certs/ca/crl/crl.der:/etc/tls/certs/ca/crl/crl.der
      - /c/home/devopsa/microservicios/rsa-keys:/etc/tls/rsa-keys
      - /c/home/devopsa/microservicios/certs/clients:/etc/tls/certs/clients
      - /c/home/devopsa/microservicios/certs/ca/ca.crt:/etc/tls/certs/ca/ca.crt
    networks:
      - signcrypt-network

networks:
  signcrypt-network:
    driver: bridge
