apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-ms-middleware-signcrypt
  namespace: pts
spec:
  accessModes: [ "ReadWriteMany" ]
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard
